* {
  scroll-behavior: smooth;
}

.protfolio .Mnavbar {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 60px;
  background-image: url('./images/prism.png');
  background-repeat: repeat;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
}

.protfolio .navbar:hover {
  background-image: url('./images/footer_lodyas.png');

}

.protfolio .personal-info {
  background-color: rgb(43, 42, 42);
  display: flex;

}